<div th:fragment="footer"  style="height: 60px;line-height: 60px;text-align: center" class="layui-footer footer footer-demo layui-bg-cyan">
    <a href="/book/searchSoftBook.html" style="font-size: 14px;color: #92B8B1;">轻小说</a>
    <a href="/book/searchMhBook.html" style="font-size: 14px;color: #92B8B1;margin-left: 8px">漫画</a>
    <a href="javascript:readHistory()" style="font-size: 14px;color: #92B8B1;margin-left: 8px">阅读记录</a>
    <a href="javascript:toMyCollect()" style="font-size: 14px;color: #92B8B1;margin-left: 8px">书架</a>
    <a href="/HotBook.apk" style="font-size: 14px;color: #92B8B1;margin-left: 8px">客户端</a>
    <!--<a href="https://www.zinglizingli.xyz/me/index.html" style="font-size: 14px;color: #92B8B1;margin-left: 8px">开发者</a>-->


    <div style="float: right"><a href="#top"><i class="layui-icon"
                                                style="margin-right:15px;font-size: 30px;color:#92B8B1 ">&#xe604;</i></a>
    </div>
    <script>
        (function(){
            var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?0f3ae8a0c8948025da914c98d5773654":"https://jspassport.ssl.qhimg.com/11.0.1.js?0f3ae8a0c8948025da914c98d5773654";
            document.write('<script src="' + src + '" id="sozz"><\/script>');
        })();
    </script>
</div>