spring:
  profiles:
    active: dev

# 将所有数字转为 String 类型返回，避免前端数据精度丢失的问题
  jackson:
    generator:
      write-numbers-as-strings: true

server:
  port: 8888





---
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/novel_test?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: test123456
  config:
    activate:
      on-profile: dev



---
spring:
  redis:
    host: 127.0.0.1
    port: 6379
    password: 123456
  config:
    activate:
      on-profile: dev


---
spring:
  config:
    activate:
      on-profile: dev
# JWT密钥
jwt:
  secret: E66559580A1ADF48CDD928516062F12E