server:
  port: 80

spring:
  datasource:
      url: jdbc:mysql://148.70.59.92:3306/books?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
      username: xiongxiaoyang
      password: Lzslov123!
#      url: jdbc:mysql://127.0.0.1:3306/books?useUnicode=true&characterEncoding=utf-8
#      username: books
#      password: books
  cache:
    ehcache:
      config: classpath:ehcache.xml
  thymeleaf:
    mode: LEGACYHTML5 #去除thymeleaf的html严格校验thymeleaf.mode=LEGACYHTML5
    cache: true # 是否开启模板缓存，默认true,建议在开发时关闭缓存,不然没法看到实时
  freemarker:
    template-loader-path: classpath:/templates #设定freemarker文件路径 默认为src/main/resources/templatestemplate-loader-path=classpath:/templates
    charset: UTF-8 # 模板编码
  #邮箱服务器
  mail:
   host: smtp.163.com
  #邮箱账户
   username: 13560421324@163.com
  #邮箱第三方授权码
   password: xiong13560421324
  #编码类型
   default-encoding: UTF-8
   port: 465
   properties:
    mail:
      smtp:
        auth: true
        starttls:
          enable: true
          required: rue
        socketFactory:
          port: 465
          class: javax.net.ssl.SSLSocketFactory
          fallback: false




#  mvc:
#    static-path-pattern: /static/** #设定静态文件路径，js,css等
mybatis:
  mapper-locations: classpath:mybatis/mapping/*.xml
  type-aliases-package: xyz.zinglizingli.books.po


#首页本站推荐小说配置
index:
  recBooks:
    - {bookName: 黎明之剑,bookAuthor: 远瞳}
    - {bookName: 诸天投影,bookAuthor: 裴屠狗}
    - {bookName: 我有一座恐怖屋,bookAuthor: 我会修空调}


#mysql编码
mysql:
  charset: utf8mb4

#爬取小说数据的最低评分
books:
  lowestScore: 8.0


search:
  schedule:
    isRunExcute: 0;


logging:
  config: classpath:logback-boot.xml


baidu:
  record:
    ids: 999999,888888


browser:
  cookie: SINAGLOBAL=5945695441587.724.1559298271897; __guid=109181959.2094437407894937900.1565875017257.2095; un=13560421324; _s_tentry=login.sina.com.cn; Apache=967339021599.2916.1567743040489; ULV=1567743040504:8:1:1:967339021599.2916.1567743040489:1566918991855; login_sid_t=d172b083637b1186ebcd624a1259a05f; cross_origin_proto=SSL; appkey=; SSOLoginState=1567744755; YF-Widget-G0=4a4609df0e4ef6187a7b4717d4e6cf12; wvr=6; WBtopGlobal_register_version=307744aa77dd5677; un=13560421324; SCF=AsBEGOtiUG1hPLyZCxI1FunZd9Hg9hWWkgyzcAZjG6AxlhR9sKuWXBhvg1TG9iDWygqPlKun5aazN3Jc6Rky8lQ.; SUB=_2A25wfnGoDeRhGeNL41YR9SnNwzyIHXVTCuRgrDV8PUJbmtANLRWgkW9NSM603g9LJN13ACge6_UUjKxvhLP4TXZi; SUBP=0033WrSXqPxfM725Ws9jqgMF55529P9D9WFRg9065OjUyD0aaGsKRxPW5JpX5K-hUgL.Fo-f1hB7SKMp1h52dJLoI0qLxK-L1KqL1-eLxKMLB.-L122LxKMLB.-L122LxK-LBo5L12qLxKnLB-qLBoBLxKMLB.BL1K2t; SUHB=0XDVz5Bh1mkWFA; ALF=1599812938; UOR=,,sf.zinglizingli.xyz; monitor_count=13; webim_unReadCount=%7B%22time%22%3A1568285775036%2C%22dm_pub_total%22%3A1%2C%22chat_group_client%22%3A0%2C%22allcountNum%22%3A29%2C%22msgbox%22%3A0%7D