header {height:54px; background:#4baacd; line-height:54px; border-bottom:1px #4399b8 solid;}
header img{float:left; width:142px; height:54px;}
header a{float:right; font-size:12px; color:#C5F1FF; line-height:80px;}
.Index_Header a{margin:0 6px;}
header .regis{background:url(../images/icon-regis.gif);}
header .login{background:url(../images/icon-login.gif);}
header .regis:hover{background:url(../images/icon-regis-press.gif);}
header .login:hover{background:url(../images/icon-login-press.gif);}
header .regis, header .login{width:25px; height:54px;}
header .regis, header .login, header .regis:hover, header .login:hover{background-repeat:no-repeat; background-position:50% 30%; background-size:18px 19px;}
header .username{float:right; text-align:right; line-height:54px; font-size:12px; color:#c5f1ff; height:54px; width:140px; overflow:hidden;}
header .username img{float:right; width:18px; height:19px; margin-top:17px; margin-right:5px;}
header .username b{float:right; font-weight:normal; max-width:115px; text-align:left; white-space: nowrap;} 
header .username a {margin:0; color:#c5f1ff; line-height:55px;}
.smallNav{height:40px; background:#4baacd; line-height:40px; text-align:center; border-bottom:1px #4399b8 solid; font-size:14px; padding:0 10px; border-top:1px #5db3d2 solid;}
.smallNav a{color:#fff; float:left; width:14%;}
.smallNav .sel{color:#4aaccf;}
.subNav{height:162px; background:#68aac2; border-top:1px #3580a4 solid; border-bottom:1px #3580a4 solid; line-height:40px; text-align:center; position:relative; font-size:14px; display:none;}
.subNav a{float:left; width:16.6%; color:#b6d3df;}
.subNav .sel{color:#fff;}
.searchForm{text-align:center; margin:10px; position:relative; clear:both;}
.searchForm_input{border:1px #c0deea solid; font-size:14px; background:#f8fdff; padding:0 5px; width:100%; height:30px; line-height:30px; color:#cbcfd1;}
.searchForm_btn{position:absolute; right:0; top:0; padding:0; height:30px; width:60px; color:#C0DEEA; padding-left:25px; line-height:30px; border:none; background:url(../images/icon-search.gif) no-repeat 15% 50%; background-size:18px; border-left:1px #C0DEEA solid;}
.del{background:url(../images/icon-searchdel.gif) no-repeat 50% 50%; background-size:18px;}

.notearea{height:auto; overflow:hidden; margin-bottom:5px; padding:0 10px;}
.notearea img{margin-top:2px; float: left; padding:;  width: 50px; height:20px; margin-right:10px;}
.note{text-align:center; margin-bottom:10px; font-size:12px; height:25px; line-height:25px; overflow:hidden;}
.note a{color:#db7f7f; padding-left:18px; cursor:pointer; background:url(../images/icon-note.gif) no-repeat 3px 50%; background-size:10px; }
#marqueebox1{margin:0; /*float:left; width:70%;*/ text-align:center; }

.big-pic{width:100%; overflow:hidden;}
.big-pic-in, .pic-list, .pic-list img{position:relative; width:320px; height:150px; }
.big-pic-in{-webkit-transform:translateZ(0);}
.big-pic-in{overflow:hidden; margin:0 auto;}
.pic-list{-webkit-transform:translate3d(0, 0, 0);}
.big-pic a{float:left;}
.big-pic a p{width:320px;}
.big-pic a p:first-child {height: 120px;}
.big-pic3 .pic-list {width: 960px;}
.big-pic4 .pic-list {width: 1280px;}
.cap{height:30px; line-height:30px; padding:0 10px; color:#fff; display:block; background:#000; opacity:0.8; font-size:14px; overflow:hidden;}
.slide-dot{position:absolute; bottom:12px; right:5px;}
.slide-dot span{float:left; border-radius:5px; background:#69aac1; height:4px; width:10px; margin:0 3px;}
.slide-dot .slide-dot-cur{height:6px; width:12px; background:#fff; margin-top:-1px;}

.slide {width:100%; overflow:hidden;}
.slide-con {-webkit-transform:translate3d(0, 0, 0);}
.slide-item {float:left;}
.slide-con2 {width:200%;} .slide-con2 .slide-item {width:50%;}
.slide-con3 {width:300%;} .slide-con3 .slide-item {width:33.33%;}
.slide-con4 {width:400%;} .slide-con4 .slide-item {width:25%;}
.slide-con5 {width:400%;} .slide-con5 .slide-item {width:20%;}
.slide-con6 {width:500%;} .slide-con6 .slide-item {width:20%;}
.slide-con61{width:600%;} .slide-con61 .slide-item{width:16.66%;}
.slide-con7 {width:700%;} .slide-con7 .slide-item {width:14.286%;}
.slide-con8 {width:800%;} .slide-con8 .slide-item {width:12.5%;}
.transition {-webkit-transition:-webkit-transform 0.3s ease-out; -o-transition:-o-transform 0.3s ease-out; transition: transform 0.3s ease-out;}

.tabArea{width:100%; overflow:hidden; margin:0 auto;}
.tab-navarea{background:#68aac2; width:100%;}
.tabArea .tab-nav{height:40px; overflow:hidden;}
.tabArea .tab-nav h2{font-size:16px; background:#68aac2; float:left; width:33.3%; text-align:center; height:40px; line-height:40px; cursor:pointer;}
.tabArea .tab-nav h2 a{color:#d2e4eb; text-shadow:1px 1px #3c84a6;}
.tabArea .tab-nav h2 .tab-nav-cur{color:#fff; border-bottom:2px #fff solid; padding-bottom:5px;}
.tabArea2 .tab-nav h2{width:50%;}
.tabArea4 .tab-nav h2{width:25%;}
.tabArea5 .tab-nav h2{width:20%;}
.tabArea6 .tab-nav h2{width:16.66%;}
.tabArea7 .tab-nav h2{width:14.286%;}
.tabArea8 .tab-nav h2{width:12.5%; font-size:15px;}
.tabArea8 .tab-nav h2 .tab-nav-cur{font-size:16px;}
.bannerLink p{font-size:16px; padding:0 10px; height:40px; display:block; line-height:40px; overflow:hidden;}
.bannerLink .sort{margin-right:10px;}
.bannerLink .em{background:#f6fcff;}

.recommend{width:100%; clear:both;}
.recommend h2{font-size:16px; height:40px; line-height:40px; background:#68aac2; padding:0 10px;}
.recommend h2 a{color:#fff; text-shadow:1px 1px #2a779d;}
.recommend .more{float:right; margin-top:-40px;}
.hot_sale{clear:both; background:#edfaff; border-top:2px #edfaff solid; border-bottom:2px #edfaff solid; overflow:hidden;}
.hot_sale{position:relative; height:145px; padding:7px 10px 0 110px;}
.hot_sale img{position:absolute; left:10px; top:10px; border:1px #b4dae8 solid; width:87px; height:117px;}
.hot_sale .title{color:#375868; font-size:16px;}
.hot_sale .author, .hot_sale .review{font-size:14px; color:#7f9ba8; line-height:22px;}
.hot_sale .review{line-height:20px;}
.hot_sale:hover{background:#d9f5ff; border-bottom:2px #9dcada solid; border-top:2px #9dcada solid;}
.hot_saleEm{background:#fff; border-bottom:2px #fff solid; border-top:2px #fff solid;}
.girl .hot_sale:hover{background:#fef1f5; border-bottom:2px #ffdee9 solid; border-top:2px #ffdee9 solid;}
.partner .hot_sale:hover{background:#fbfff2; border-bottom:2px #dce59a solid; border-top:2px #dce59a solid;}
.hot_salehavDate .author{margin-bottom:2px;}
.hot_sale .date{color:#e76767; font-size:12px; margin-bottom:4px;}
.hot_link div{clear:both; padding:2px 10px 2px 50px; height:52px; position:relative; border-top:1px #fff solid; border-bottom:1px #fff solid;}
.hot_link .em{background:#f6fcff;}
.hot_link .sort{width:18px; padding-right:8px; position:absolute; left:10px; top:10px; border-right:2px #a9bfc8 solid; font-size:14px;}
.hot_link .title{font-size:14px; color:#375868; line-height:30px; height:30px; overflow:hidden;}
.hot_link .review{color:#7f9ba8; font-size:12px; line-height:10px;}
.hot_link div:hover{background:#f6fcff; border-top:1px #d1e5ec solid; border-bottom:1px #d1e5ec solid;}


.directorySel, .directorySel2{text-align:center;}
.directorySel{width:95%; display:block; margin:0 auto; margin-top:10px;}
.directorySel2{font-size:14px; margin:0 4px;}
.directoryArea p, .directoryLink, .directoryLink a{height:40px; line-height:40px; font-size:16px;}
.directoryArea p{height:auto;}
.directoryArea p{padding:0 10px;}
.directoryArea .em{background:#f6fcff;}
.directoryArea img{margin-left:8px;}
.directoryLink a{float:left; width:33.3%; text-align:center;}

.Readpage{font-size:14px; padding:0; background:#d4eaf2; height:40px; line-height:40px; text-align:center;}
.Readpage a{font-size:16px; padding:8px 12px; line-height:35px;}
.Readpage .Readpage_up{color: #2a779d; background:url(../images/bg-pageup.png) no-repeat 0 70%; padding-left:27px; background-size:90px;}
.Readpage .Readpage_down{text-shadow: 1px 1px #2a779d; color:#fff; background:url(../images/bg-pagedown.png) no-repeat 0px 50%; padding-right:27px; background-size:90px;}
.Readpage .page_txt{width:45px; padding:4px; border:1px #68aac2 solid; font-size:14px; margin-left:15px; background:#f2fcff;}
.Readpage .page_btn{font-size:14px; border:none; background:none; color:#4c6978; padding:4px 5px; margin-right:15px; background:#f2fcff; font-weight:bold;}


/*搜索结果页*/
.searchInfo{text-align:center; padding:0 10px; margin-bottom:10px; font-size:16px; line-height:28px;}
.searchInfo em{color:#db7f7f;}
.searchrec h2{margin-bottom:5px;}
.searchrec p {padding:5px 10px;}
.searchrec p a{margin-right:13px; color:#68AAC2; font-size:16px;}
.searchInfo label{margin-right:10px; line-height:20px; font-size:14px;}
.mybook em{color:#d25151;}
.mybook .hot_sale p{line-height:20px;}
.mybook .date{margin:0;}
.mybook .hot_sale{padding:7px 8px 5px 40px; height:auto; overflow:hidden;}
.mybook .hot_sale div a{width:80px; height:30px; line-height:30px; text-align:center; font-size:12px; border-radius:5px; color:#fff; margin-left:3px;}
.mybook .hot_sale img{left:5px;}
.mybook .hot_sale .author{font-size:12px;}
.mybook .hot_sale div .dashang{background:#ff3e3e;}
.mybook .hot_sale div .tuijian{background:#68aac2;}
.mybook .hot_sale div .kuaiding{background:#b3b3b3;}
.mybook .num{position:absolute; left:5px; top:10px; text-align:center; letter-spacing:-1px; height:25px; width:30px; line-height:25px; background:#B3B3B3; color:#fff; border-radius:5px;}
.mybook .num1{background:#FF3E3E;}
.mybook .num2{background:#68aac2;}

.page{background:#68aac2; padding:0 10px; color:#c5d7df; height:40px; line-height:40px; text-align:center;}
.page a{color:#fff; margin:0 5px;}
.pageinput{float:right;}
.page .page_txt{padding:2px 5px; border:1px #c5d7df solid; background:#f6fcff; color:#4c6978; border-radius:5px; font-size:14px; width:80px; margin-right:5px; color:#333; text-align:center;}

.hot_sale .btn{margin-top:5px; height:auto; overflow:hidden; line-height:normal;}
.hot_sale .btn_inpt{font-size:14px; line-height:30px; background:#68aac2; color:#fff; border:0; font-family:"微软雅黑"; margin-right:8px; padding:8px 15px; padding-top:0;}
.hot_sale .btn_inptem{background:#d25151;}
.booklist .hot_sale{padding:5px 10px 8px 10px;}
.booklist h3{padding:10px; font-size:14px;}
.booklist h3 a{color:#d25151;}

/***************************************************************************************/
*{margin:0; padding:0;/* background-attachment:fixed;*/}

div,p{wrap-work: break-word; word-break: break-all; word-wrap:break-word; word-break:normal; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; -ms-box-sizing:border-box;}

li{list-style:none;}
em{font-style:normal;}
body{color:#4c6978; font:14px 'microsoft yahei',Arial,Helvetica,sans-serif;}
input,textarea{font:12px '宋体',Arial,Helvetica,sans-serif; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -box-sizing:border-box;}
img{border:none;}
a{color:#4c6978; text-decoration:none; border:none; cursor:pointer;}
a:hover{text-decoration:none;}
.clearfix:after {clear: both; content: "."; display: block; height: 0; visibility: hidden;}
.clearfix {display: inline-block;}
*html .clearfix {height: 1%;}
.clearfix {display: block;}
h1,h2,h3,h4,h5,h6{font-size:16px; font-weight:normal;}

footer{padding:15px 10px; text-align:center; line-height:33px; background:#68aac2; position:relative; font-size:14px;}
footer .version a{margin:0 10px; color:#c5d7df; text-shadow:1px 1px #3e86a8;}
footer .version .sel{color:#fff; font-size:16px;}
footer .link a{margin:0 10px; color:#accad6; font-size:14px;}
footer img{position:absolute; right:25px; top:15px; cursor:pointer; width:31px;}

footer .channel a{margin:0 5px; color:#c5d7df; text-shadow:1px 1px #3e86a8;}