<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:text="${title}"></title>

    <meta name="keywords" th:content="${keyword}">

    <meta name="description"
          th:content="${description}">

    <meta property="og:type" content="novel_chapter"/>
    <meta property="og:title" th:attr="content=${title}"/>
    <meta property="og:description" th:attr="content=${description}"/>

    </div>

    <div th:include="common/css :: css"></div>

    <style type="text/css">

        .indexP p a {
            color: #4c6978;
        }

        .line-limit-length {

            overflow: hidden;

            text-overflow: ellipsis;

            white-space: nowrap;

        }
    </style>
    </div>


    <script>
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>

</head>
<body>

<div id="content">
<input type="hidden" id="bookIdHidden" th:value="${bookId}"/>
<div style="height: 50px;line-height: 50px;text-align: center" class="layui-header header header-doc  layui-bg-cyan">

    <div style="float: left;margin-left: 10px">
        <a href="javascript:history.go(-1)">
            <i style="font-size: 20px;color: #92B8B1;" class="layui-icon">&#xe65c;</i></a>
    </div>
    <a style="color: #ffffff;" th:href="'/book/'+ ${bookId} + '.html'"><b class="layui-icon" th:text="${bookName}"></b></a>
    <div style="float: right;margin-right: 10px">
        <a href="/"><i style="font-size: 20px;color: #92B8B1;" class="layui-icon">&#xe68e;</i></a>
    </div>
</div>


<p style="height: 30px;line-height: 30px;padding: 10px">

    <a href="#buttom" style="color: red">&nbsp;&nbsp;↓直达页面底部</a>
</p>


<div class="layui-colla-content layui-show indexP layui-row">
    <p class="line-limit-length layui-col-xs12 layui-col-sm4 layui-col-md3 layui-col-lg2" style="padding-left:10px;height: 50px;line-height: 50px;" th:each="index : ${indexList}">
        <a th:href="'/book/'+${index.bookId}+'/'+${index.indexNum}+'.html'" th:text="${index.indexName}">

        </a>
    </p>



</div>
</div>
<div th:replace="common/footer :: footer">
</div>

<a name="buttom"></a>
</body>
<div th:replace="common/js :: js">
</div>
<script>
    $("#content").css("min-height",($(window).height()-60)+"px");
    $.get("/book/addVisit",{"bookId":$("#bookIdHidden").val()},function(){});
    function toMyCollect(){
        var token = localStorage.getItem("token");
        if(token) {
            window.location.href = "/book/search?token=" + token;
        }else{
            window.location.href = "/user/login.html";
        }
    }
</script>


</html>